---
layout: frontpage
---
<div id="main-content">
  {% if site.intro-section == "full-width-1" %}
  {% include frontpage/full-width-1.html %}
{% endif %}
{% if site.intro-section == "full-width-2" %}
    {% include frontpage/full-width-2.html %}
{% endif %}
{% if site.include-section-1 == true %}
  <section id="section-1">
    <div class="content-section-a">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-sm-6 col-xs-6">
            <h2>{{site.section-1}}</h2>
            {% markdown frontpage/section-1.md %}
          </div>
          <div class="col-lg-5 col-lg-offset-2 col-sm-6 col-xs-6">
            <img class="img-responsive"src="{{ site.section-1-image }}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}
{% if site.include-section-2 == true %}
  <section id="section-2">
    <div class="content-section-b">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6 col-xs-6">
            <h2>{{site.section-2}}</h2>
            {% markdown frontpage/section-2.md %}
          </div>
          <div class="col-lg-5 col-sm-pull-6 col-sm-6 col-xs-6">
            <img class="img-responsive" src="{{ site.section-2-image }}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}
{% if site.include-section-3 == true %}
  <section id="section-3">
    <div class="content-section-a">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-sm-6 col-xs-6">
            <h2>{{site.section-3}}</h2>
            {% markdown frontpage/section-3.md %}
          </div>
          <div class="col-lg-5 col-lg-offset-2 col-sm-6 col-xs-6">
            <img class="img-responsive"src="{{ site.section-3-image }}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}
{% if site.include-section-4 == true %}
  <section id="section-4">
    <div class="content-section-b">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6 col-xs-6">
            <h2>{{site.section-4}}</h2>
            {% markdown frontpage/section-4.md %}
          </div>
          <div class="col-lg-5 col-sm-pull-6 col-sm-6 col-xs-6">
            <img class="img-responsive" src="{{ site.section-4-image }}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endif %}
{% if site.testimonials == true %}
<div class="section-3 section">
    <div class="container">
        <div class="row">
          {% include general/testimonials.html %}
        </div>
    </div>
</div>
{% endif %}
